<%- include('./partials/header.ejs'); %>

    <div id="login-container">
      <div id="left-column"></div>
      
      <div id="branding">
        <p class="signUptext">Developed by 
          <a href="https://www.facebook.com/profile.php?id=100043401699865" target="_blank">Piash Uddin</a>
        </p>
        <img src="./images/logo.png" />
        <h1>Login - Mini Message</h1>
      </div>
      <div id="login-form">
        <form method="post" action="/">
          <input
            type="text"
            name="username"
            placeholder="enter mobile or email"
            value="<%= data.username %>"
          />
          <% if (errors.username) { %>
            <p class="error show"><%= errors.username.msg %></p>
          <% } %>
          <input type="password" name="password" placeholder="enter password" />
          <% if (errors.password) { %>
            <p class="error show"><%= errors.password.msg %></p>
          <% } %>

          <% if (errors.common) { %>
            <p class="error show"><%= errors.common.msg %></p>
          <% } %>
          <input class="login-submit" type="submit" value="Login" />
          <span class="signUptext">Don't Have An Account?<a class="signUpLink" href="/signup">Sign Up</a></span>
        </form>
        
      </div>
    </div>
  </body>
</html>
